@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
}

section{
  padding: 0 100px;  
}

.btn{
    background-color: brown;
    padding: 10px 20px;
    border-radius: 12px;
    color: maroon;
    transition: all 0.3s ease;
}


.btn:hover{
    background: luminousgreen;
    color: red;
    border: 2px solid red;
}
/* Navigation Styling */

.navbar{
    position: fixed;
    width: 100%;
    background-color: lightgoldenrodyellow;
    padding: 15px 0;
    color: white;
}

.navbar .menu li{
    display: inline-block;
}

.navbar .nav-icons{
    display: flex;
}


.navbar .nav-icons .fa-search{
    font-size: 25px;
    padding: 0 6px;
}

.navbar .nav-icons .fa-search:hover{
    color: orange;
}

.navbar .nav-icons .fa-shopping-cart{
    color: red;
    font-size: 25px;
    padding: 0 6px;
}

.navbar .nav-icons .fa-shopping-cart:hover{
    color: orange;
}
.navbar .menu li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .logo a:hover{
    color: purple;
    padding: 6px 12px;
    border-radius: 10px;
}

.navbar .menu li a:hover{
    color: orange;
    padding: 6px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 700;
    color: white;
    transition: all 0.3s ease;
}

.navbar .menu li a{
    color: red; 
}

.navbar .logo a i{
    color: blue;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Home Styling */



.home .container .wrapper .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 9rem;

}

.home{
    background-color: brown;
    height: 100vh;
}

.home .container .wrapper .slide .img img{
    width: 510px;
    border-radius: 10px;
    height: 340px;
    object-fit: cover;
}

.home .container .wrapper .slide .content span{
    font-size: 60px;
    color: green;
}
.home .container .wrapper .slide .content h3{
    font-size: 40px;
}
.home .container .wrapper .slide .content p{
    font-size: 20px;
    margin-bottom: 20px;
    align-items: justify;
}


.home .container .wrapper .slide .content a{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

