@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    
}

html{
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
}

section {
    padding: 0 100px;
}

.btn {
    background-color: brown;
    padding: 10px 20px;
    border-radius: 12px;
    color: maroon;
    transition: all 0.3s ease;
}

.btn:hover {
    background: limegreen;
    color: red;
    border: 2px solid red;
}

/* Navigation Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
    padding: 15px 0;
    z-index: 1000;
    color: white;
}

.navbar .menu li {
    display: inline-block;
}

.navbar .nav-icons {
    display: flex;
}

.navbar .nav-icons .fa-search {
    font-size: 25px;
    padding: 0 6px;
}

.navbar .nav-icons .fa-search:hover {
    color: orange;
}

.navbar .nav-icons .fa-shopping-cart {
    color: red;
    font-size: 25px;
    padding: 0 6px;
}

.navbar .nav-icons .fa-shopping-cart:hover {
    color: orange;
}

.navbar .menu li a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .logo a:hover {
    color: purple;
    padding: 6px 12px;
    border-radius: 10px;
}

.navbar .menu li a:hover {
    color: orange;
    padding: 6px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 700;
    color: white;
    transition: all 0.3s ease;
}

.navbar .logo a i {
    color: blue;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Home Styling */
.home {
    height: 100vh;
    padding-top: 80px; /* Adds space to prevent overlap with the navbar */
    background-color: brown;
}

.home .swiper {
    position: relative;
    z-index: 1; /* Keep swiper visible over other elements */
}

.home .swiper-wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust height to fill screen below navbar */
}

.home .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 20px;
}

.home .swiper-slide .image img {
    width: 510px;
    border-radius: 10px;
    height: 340px;
    object-fit: cover;
}

.home .swiper-slide .content {
    max-width: 500px;
}

.home .swiper-slide .content span {
    font-size: 60px;
    color: green;
}

.home .swiper-slide .content h3 {
    font-size: 40px;
}

.home .swiper-slide .content p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.home .swiper-slide .content a {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

/* Special section styling */
.special{
    padding: 100px 0;
    
}

.title{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}


.title::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background: pink;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.title::after{
    content: "special meals";
    position: absolute;
    background: red;
    color: yellowgreen;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    transform: translateX(-50%);
}
/* Container for cards */
.special .container{
    display: flex;
}
.special .card{
    background: white;
    border-radius: 8px;
    padding: 25px 35px;
}
.special .card:hover{
    transform: translateY(-10px);
}

.special .card img{
    width: 310px;
    height: 240px;
    object-fit: cover;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    margin-bottom: 20px;
}

.special .card h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.special .card i{
    color: red;
    margin-bottom: 10px;
}

.special .card h2{
    margin-bottom: 10px;
}

.special .card .review{
    padding-right: 20px;
    margin-bottom: 10px;
}

.special .card .review i{
    color: red;
}

.special .max-width{
    max-width: 1300px;
    padding: 0 40px;
}
/* Box Styling */

.box{
    padding: 100px 0;
    
}

.title{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}


.title::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background: pink;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.title::after{
    content: "special meals";
    position: absolute;
    background: red;
    color: yellowgreen;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    transform: translateX(-50%);
}
/* Container for cards */
.box .container{
    display: flex;
    margin-bottom: 20px;
}
.box .card{
    background: white;
    border-radius: 8px;
    padding: 25px 35px;
}
.box .card:hover{
    transform: translateY(-10px);
}

.box .card img{
    width: 310px;
    height: 240px;
    object-fit: cover;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    margin-bottom: 20px;
}

.box .card h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.box .card i{
    color: red;
    margin-bottom: 10px;
}

.box .card h2{
    margin-bottom: 10px;
}

.box .card .review{
    padding-right: 20px;
    margin-bottom: 10px;
}

.box .card .review i{
    color: red;
}

.box .max-width{
    max-width: 1300px;
    padding: 0 40px;
}
/* Featured Meals Styling */
.featured {
    height: auto;
    padding-top: 80px; /* Adds space to prevent overlap with the navbar */
    background-color: brown;
}

.featured .container.wrapper .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    background: lightgray;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10px;
    margin-bottom: 5rem;
}
.featured .swiper {
    position: relative;
    z-index: 1; /* Keep swiper visible over other elements */
}

.featured .swiper-wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust height to fill screen below navbar */
}

.featured .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 20px;
}

.featured .swiper-slide .image img {
    width: 510px;
    border-radius: 10px;
    height: 340px;
    object-fit: cover;
}

.featured .swiper-slide .content {
    max-width: 500px;
}

.featured .swiper-slide .content span {
    font-size: 60px;
    color: green;
}

.featured .swiper-slide .content h3 {
    font-size: 40px;
}

.featured .swiper-slide .content p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.featured .swiper-slide .content a {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

/* About Styling */

.about{
    margin-bottom: 9rem;

}
.about .card{
    display: flex;
    align-items: center;
    gap: 32px;
    flex-basis: 50%;
    margin-bottom: 20px;
}

.about .card .box-1 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.about .card .box-2 p{
    padding: 15px 0;
}

/* Contact Styling */
.contact .form input{
    height: 100%;
    width: 100%;
    border: 1px solide #f1f1f1;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 18px;
    margin-bottom: 6px;
}

.contact form textarea{
    height: 100%;
    width: 100%;
    border: 1px solide #f1f1f1;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 18px;
    margin-bottom: 6px;
    resize: none;
}
.contact .max-width{
    background-color: blue;
    padding: 5rem;
    padding-bottom: 5rem;
    border-radius: 10px;

}
.contact .max-width .form{
    background-color: black;
    border-radius: 6px;
    padding: 15px;
}

.contact{
    margin-bottom: 8rem;
}


/* Footer Styling */
footer{
    padding: 35px 0;
    background-color: lightgray;
    color: #000;
    text-align: center;
    font-size: 20px;
}

footer a{
    color: red;
}